*{
    font-family: poppins;
    background-color: #FFFFFFF;
    color: #689768;
    vide

}
.background_video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
.background_video video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This is key for full coverage */
    min-width: 100%;
    min-height: 100%;
}
nav{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    justify-content: flex-end;
    


}
li{
    display:flex ;
    margin-right: 50PX;
    padding-top: 5px;
    list-style: none;
    size: 18px;

}
.nav a:hover{
    color: #FFFFFF;
}
.gap{
    margin: 100px;
}
th{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
td{
    border-top-color: #86AC86;
}
.column{
    display: flex;
    text-align: center;
    width: 500px;
    padding-bottom: 15px;
    margin: 10px;
    height: 250px;
    padding-top: 50px;
    box-sizing: border-box;
}
.row::after{
    clear: both;
    display: table;
    content: "";
}
.interests{
    font-weight: 600;
    font-size: 24px;
}
.c2{
    color: #86AC86;
    x
}
form{
    float: right;
    margin-top: -100px;
    margin-right: 150px;
}
input{

    display: flex;
    justify-content: flex-end;
    width: 500px;
    margin-bottom: 10px;
   
    border-color: 1px #f5f5f5;
    opacity: 30%;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    background-color: #689768;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: #7562E0;
    border-radius: 4px;
    cursor: progress;
}
button:hover{
    background-color: #86AC86;
    opacity: 0.5;
}
#message{
    height: 100px;
    width:500px
}

::placeholder {
    color: #689768;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #86AC86;
  }
  .i1{
    border: 3px solid #689768;
    border-radius: 16px;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
}
.i2{
    border: 3px solid #F5F5F5;
    border-radius: 16px;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
}
.icon{
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
}
@media(max-width: 768px){
    li{
        display: none;
    }

    .icon{
        display: flex;
    }
}
@media (max-width: 992px) {
  li{
        
        display: flex;
        justify-content: flex-end;
    }

    .icon{
        display: flex;
    }
}


