*{
	background: black;
	color: white;

}

input{
	display: flex;
	margin-bottom: 10px;
	opacity: 90%;
	border-color: 1px #f5f5f5;
	border-radius: 4px;
	background: #b3b3b3;
	color: #000000;
}

button{
	border-radius: 4px;
	background: #4d4d4d;
}
button:hover{
	background: black;
	opacity: 90%;
}